{% extends "layout.html" %}
{% block body %}
  <h2>Editing book</h2>
  <form action="" method="post">
    <dl>
      <dt>Title:</dt>
      <dd><input type="text" size=30 name="title" value="{{ book.title }}" />
      <dt>Volume:</dt>
      <dd><input type="text" size=30 name="volume" value="{{ book.volume }}" /></dd>
      <dt>Series:</dt>
      <dd><input type="text" size=30 name="series" value="{{ book.series }}" /></dd>
      <dt>Series volume:</dt>
      <dd><input type="text" size=30 name="series_volume" value="{{ book.series_volume }}" /></dd>
      <td>Author:</td>
      <dd><input type="text" size=30 name="author" value="{{ book.author }}" /></dd>
      <td>Translator:</td>
      <dd><input type="text" size=30 name="translator" value="{{ book.translator }}" /></dd>
      <td>Publisher:</td>
      <dd><input type="text" size=30 name="publisher" value="{{ book.publisher }}" /></dd>
      <td>Category:</td>
      <dd><select name="category">
        {% for category in categories %}
        <option value="{{ category.id }}"
          {% if category.id == book.category_id %}selected{% endif %}>
          {{ category.name }}</option>
        {% endfor %}
      </select></dd>
      <td>Format:</td>
      <dd><select name="format">
        {% for format in formats %}
        <option value="{{ format.id }}"
          {% if format.id == book.format_id %}selected{% endif %}>
          {{ format.name }}</option>
        {% endfor %}
      </select></dd>
      <dt>ISBN:</dt>
      <dd><input type="text" size=30 name="isbn" value="{{ book.isbn }}" /></dd>
      <dt>Publihed on:</dt>
      <dd><input type="text" size=30 name="published_on" value="{{ book.published_on }}" /></dd>
      <dt>Original title:</dt>
      <dd><input type="text" size=30 name="original_title" value="{{ book.original_title }}" /></dd>
      <dt>Note:</dt>
      <dd><input type="text" size=30 name="note" value="{{ book.note }}" /></dd>
      <dt>Keyword:</dt>
      <dd><input type="text" size=30 name="keyword" value="{{ book.keyword }}" /></dd>
      <dt>Disk:</dt>
      <dd><input type="text" size=30 name="disk" value="{{ book.disk }}" /></dd>
      <dt>Disposed:</dt>
      <dd><input type="checkbox" name="disposed" value="1"
        {%if book.disposed %}checked="checked"{% endif %} /></dd>
      <dd><input type="submit" value="Update" /></dd>
    </dl>
  </form>
{% endblock %}
