{% extends "layout.html" %}
{% block body %}
  <h2>Fetching cover art of the book from OpenBD</h2>
  <form action="" method="post">
    <dl>
      <dt>Title:</dt>
      <dd>{{ book.title }}</dd>
      <dt>Volume:</dt>
      <dd>{{ book.volume }}</dd>
      <td>Author:</td>
      <dd>{{ book.author }}</dd>
      <td>Publisher:</td>
      <dd>{{ book.publisher }}</dd>
      <dt>ISBN:</dt>
      <dd>{{ book.isbn }}</dd>
      <dd><input type="submit" value="Fetch" /></dd>
    </dl>
  </form>
{% endblock %}
