{% extends "layout.html" %}

{% block body %}
  <h2>{{ book.title_with_vol() }}</h2>
  {% if coverart_url %}
  <img src="{{ coverart_url }}" id="coverart">
  {% endif %}

  <div class="q-pa-md" style="min-width: 600px">
    <q-list>
      <q-item>
        <q-item-section>
          <q-item-label overline>ID</q-item-label>
          <q-item-label>{{ book.id }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Title</q-item-label>
          <q-item-label>{{ book.title }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Volume</q-item-label>
          <q-item-label>{{ book.volume }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Series</q-item-label>
          <q-item-label>{{ book.series }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Series volume</q-item-label>
          <q-item-label>{{ book.series_volume }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Author</q-item-label>
          <q-item-label>{{ book.author }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Translator</q-item-label>
          <q-item-label>{{ book.translator }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Publisher</q-item-label>
          <q-item-label>{{ book.publisher }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Category</q-item-label>
          <q-item-label>{{ book.category.name }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Format</q-item-label>
          <q-item-label>{{ book.format.name }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>ISBN</q-item-label>
          <q-item-label>{{ book.isbn }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Published on</q-item-label>
          <q-item-label>{{ book.published_on }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Original title</q-item-label>
          <q-item-label>{{ book.original_title }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Note</q-item-label>
          <q-item-label>{{ book.note }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Keyword</q-item-label>
          <q-item-label>{{ book.keyword }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Disc</q-item-label>
          <q-item-label>{{ book.disk }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Disposed</q-item-label>
          <q-item-label>{{ book.disposed }}</q-item-label>
        </q-item-section>
      </q-item>
      <q-item>
        <q-item-section>
          <q-item-label overline>Created at</q-item-label>
        <q-item-label>{{ book.str_created_at() }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </div>

  <a href="{{ url_for('index') }}">Back</a> |
  <a href="{{ url_for('book_edit', book_id=book.id) }}">Edit</a>
  {% if not coverart_url %}
   | <a href="{{ url_for('book_fetch_coverart', book_id=book.id) }}">Fetch cover art</a>
   | <a href="{{ url_for('book_upload_coverart', book_id=book.id) }}">Upload cover art</a>
  {% else %}
   | <a href="{{ url_for('book_delete_coverart', book_id=book.id) }}">Delete cover art</a>
  {% endif %}
{% endblock %}
