{% extends "layout.html" %}
{% block body %}
  <h5 class="text-teal-10">Books</h5>

  <q-input outlined dense v-model="searchText" style="width: 300px;">
    <template v-slot:append>
      <q-icon v-if="searchText !== ''" name="close" @click="searchText = ''" class="cursor-pointer"></q-icon>
      <q-icon name="search" @click="onSearchEnter" class="cursor-pointer"></q-icon>
    </template>
  </q-input>

  <div class="q-pa-md flex">
    <q-pagination
      :model-value="{{ page }}"
      color="teal"
      :max="{{ page_count }}"
      :max-pages="7"
      @update:model-value="jumpPage"
      boundary-numbers
    ></q-pagination>
  </div>

  <div class="q-pa-md col items-start q-gutter-md">
    {% for book in books %}
    <q-card flat bordered class="q-pa-sm" style="width: 600px;">
      <q-card-section class="q-pa-none col-2">
        {{ book.id }}
      </q-card-section>
      <q-card-section class="q-pa-none col-5">
        <a href="{{ url_for('book_detail', book_id=book.id) }}"/>{{ book.title_with_vol() }}</a>
      </q-card-section>
      <q-card-section class="q-pa-none col-5">
        {{ book.author }}
      </q-card-section>
    </q-card>
    {% endfor %}
  </div>

  <div class="q-pa-md flex">
    <q-pagination
      :model-value="{{ page }}"
      color="teal"
      :max="{{ page_count }}"
      :max-pages="7"
      @update:model-value="jumpPage"
      boundary-numbers
    ></q-pagination>
  </div>
{% endblock %}
