{% extends "layout.html" %}
{% block body %}
  <h2>Adding a new book</h2>
  <form action="" method="post">
    <dl>
      <dt>Title:</dt>
      <dd><input type="text" size=30 name="title" />
      <dt>Volume:</dt>
      <dd><input type="text" size=30 name="volume" /></dd>
      <dt>Series:</dt>
      <dd><input type="text" size=30 name="series" /></dd>
      <dt>Series volume:</dt>
      <dd><input type="text" size=30 name="series_volume" /></dd>
      <td>Author:</td>
      <dd><input type="text" size=30 name="author" /></dd>
      <td>Translator:</td>
      <dd><input type="text" size=30 name="translator" /></dd>
      <td>Publisher:</td>
      <dd><input type="text" size=30 name="publisher" /></dd>
      <td>Category:</td>
      <dd><select name="category">
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select></dd>
      <td>Format:</td>
      <dd><select name="format">
        {% for format in formats %}
        <option value="{{ format.id }}">{{ format.name }}</option>
        {% endfor %}
      </select></dd>
      <dt>ISBN:</dt>
      <dd><input type="text" size=30 name="isbn" /></dd>
      <dt>Publihed on:</dt>
      <dd><input type="text" size=30 name="published_on" /></dd>
      <dt>Original title:</dt>
      <dd><input type="text" size=30 name="original_title" /></dd>
      <dt>Note:</dt>
      <dd><input type="text" size=30 name="note" /></dd>
      <dt>Keyword:</dt>
      <dd><input type="text" size=30 name="keyword" /></dd>
      <dt>Disc:</dt>
      <dd><input type="text" size=30 name="disk" /></dd>
      <dd><input type="submit" value="Add" /></dd>
    </dl>
  </form>
{% endblock %}
