{% extends "layout.html" %}
{% block body %}
  <script type="text/javascript">
    $(function (){
      $('#addCategory').hide();
      $('#addCategoryLink').click(function() {
        $('#addCategoryLink').hide();
        $('#addCategory').show();
      });
    });
  </script>

  <h2>Categories</h2>
  <table class="categories">
    <thead>
      <tr><td class="category_id">ID</td><td class="category_name">Name</td></tr>
    </thead>
    <tbody>
    {% for category in categories %}
      <tr>
        <td>{{ category.id }}</td>
        <td><a href="/book/category/{{ category.id }}/">{{ category.name }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div id="addCategoryLink"><a href="javascript:void();">(Add)</a></div>

  <div id="addCategory">
  <h2>Add category</h2>
  <form action="/category/add/" method="post">
    <dl>
      <dt>Name:</dt>
      <dd><input type="text" size=20 name="name" /></dd>
      <dd><input type="submit" value="Add" /></dd>
    </dl>
  </form>
  </div>
{% endblock %}
