{% extends "layout.html" %}
{% block body %}
  <h2>Formats</h2>
  <table class="formats">
    <thead>
      <tr><td class="format_id">ID</td><td class="format_name">Name</td></tr>
    </thead>
    <tbody>
    {% for fmt in formats %}
      <tr><td>{{ fmt.id }}</td><td>{{ fmt.name }}</td></tr>
    {% endfor %}
    </tbody>
  </table>

  <div id="addFormatLink"><a href="javascript:void();">(Add)</a></div>

  <div id="addFormat">
  <h2>Add format</h2>
  <form action="/format/add/" method="post">
    <dl>
      <dt>Name:</dt>
      <dd><input type="text" size=20 name="name" /></dd>
      <dd><input type="submit" value="Add" /></dd>
    </dl>
  </form>
  </div>

  <script>
    document.getElementById("addFormat").style.display ="none";
    document.getElementById("addFormatLink").addEventListener("click", () => {
      document.getElementById("addFormatLink").style.display ="none";
      document.getElementById("addFormat").style.display = "block";
    }, false);
  </script>
{% endblock %}
