{% extends "layout.html" %}
{% block body %}
  <script type="text/javascript">
    $(function (){
      $('#addFormat').hide();
      $('#addFormatLink').click(function() {
        $('#addFormatLink').hide();
        $('#addFormat').show();
      });
    });
  </script>

  <h2>Formats</h2>
  <table class="formats">
    <thead>
      <tr><td class="format_id">ID</td><td class="format_name">Name</td></tr>
    </thead>
    <tbody>
    {% for fmt in formats %}
      <tr><td>{{ fmt.id }}</td><td>{{ fmt.name }}</td></tr>
    {% endfor %}
    </tbody>
  </table>

  <div id="addFormatLink"><a href="javascript:void();">(Add)</a></div>

  <div id="addFormat">
  <h2>Add format</h2>
  <form action="/format/add/" method="post">
    <dl>
      <dt>Name:</dt>
      <dd><input type="text" size=20 name="name" /></dd>
      <dd><input type="submit" value="Add" /></dd>
    </dl>
  </form>
  </div>
{% endblock %}
