<!doctype html>
<html>
  <head>
    <title>Bruschetta</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10/datatables.min.css"/>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/s/ju-1.11.4/jqc-1.11.3,dt-1.10.10/datatables.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.books').DataTable();
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Bruschetta</h1>
      <div id="menu">
        <ul>
          <li><a href="{{ url_for("index") }}" />Books</a></li>
          <li><a href="{{ url_for("book_add") }}" />Add a book</a></li>
          <li><a href="{{ url_for("book_list_disposed") }}" />Disposed</a></li>
          <li><a href="{{ url_for("category_list") }}" />Categories</a></li>
          <li><a href="{{ url_for("format_list") }}" />Formats</a></li>
        </ul>
      </div>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
