services:

  bruschetta-api:
    image: "bruschetta-api:${TAG-latest}"
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    volumes:
      - ./instance:/app/instance
    environment:
      - BRUSCHETTA_ALLOW_ORIGINS=http://localhost:8080
    tty: true
    restart: unless-stopped

  bruschetta-app:
    image: "bruschetta-app:${TAG-latest}"
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - 9000:80
    tty: true
    restart: unless-stopped

  httpserver:
    image: nginx:1.24.0
    ports:
      - 8080:80
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    tty: true
    restart: unless-stopped
